@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Staatliches&family=Teko:wght@300..700&display=swap');

html {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: bold;
}

.bio p {
  margin: 0;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}