@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #0c0c0c;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
  font-family: "JetBrains Mono", serif;
  font-weight: 400;
  font-style: bold;
  font-size: 4rem;
  text-decoration: underline;
}

h2 {
  margin: 0;
  font-family: "JetBrains Mono", serif;
  font-weight: 300;
  font-style: bold;
  font-size: 2.5rem;
}

h3 {
  margin: 0;
  font-family: "JetBrains Mono", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
}

footer {
  background-color: #0c0c0c;
}

.bio p {
  margin: 0px 20px 0px 20px;
  font-family: "JetBrains Mono", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
}

.black_text {
  color: black;
}

.white_text {
  color: white;
}

.rainbow_highlight {
  animation: rainbow-text-shadow 2s infinite linear;
}

@keyframes rainbow-text-shadow {
  0% {
    text-shadow: 0 0 15px white;
    color: white;
  }
  50% {
    text-shadow: 0 0 4px white;
    color: white;
  }
  100% {
    text-shadow: 0 0 15px white;
    color: white;
  }
}

.info_panel {
  width: 70%;
  height: auto;
  border-radius: 5%;
  border: #ffffff;
  box-shadow: 10px #ffffff;
  
}

footer {
  font-family: "JetBrains Mono", serif;
}