main {
  background-color: #0c0c0c;
  height: 100vh;
  width: 100%;
  align-items: center;
  z-index: -1;
  background-image: url("../images/background-tile.png");
  background-repeat: repeat;
  background-size: calc(100vh/80);
}

.core {
  height: 80%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.bio {
  margin: auto;
  padding: 20px;
  height: fit-content;
  width: 40%;
  align-content: center;
  text-align: center;
  background-color: #0c0c0c;
  border-radius: 50px;
}

.profile_pic {
  height: 100%;
  width: 50%;
  align-content: center;
}

.wave_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave {
  width: 50px;
  transform-origin: 75% 75%;
}

.wave:hover {
  animation: waver infinite 0.75s linear;
}

@keyframes waver {
  0% {
    transform: rotate(0turn);
  }
  25% {
    transform: rotate(-0.1turn);
  }
  50% {
    transform: rotate(0turn);
  }
  75% {
    transform: rotate(0.1turn);
  }
  100% {
    transform: rotate(0turn);
  }
}

#about_me {
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  z-index: 2;
  align-items: center;
  align-content: center;
}

#proj_01 {
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  z-index: 2;
}

#proj_02 {
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  z-index: 2;
}

#contact_me {
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.content_container {
  width: 40vw;
  min-height: 200px;
  height: auto;
  margin-left: 30%;
  text-align: center;
  border: white 2px solid;
  border-radius: 20px;
}