main {
  background-color: #0c0c0c;
  height: 100vh;
  width: 100%;
  align-items: center;
  z-index: -1;
  background-image: url("../images/background-tile.png");
  background-repeat: repeat;
  background-size: calc(100vh/80);
  border-bottom: rgb(255, 255, 255) 2px solid;
}

.core {
  height: 80%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.bio {
  margin: auto;
  padding: 20px;
  height: fit-content;
  width: 40%;
  align-content: center;
  text-align: center;
  background-color: #0c0c0c;
  border-radius: 50px;
}

.profile_pic {
  height: 100%;
  width: 50%;
  align-content: center;
}

.wave_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave {
  width: 50px;
  transform-origin: 75% 75%;
}

.wave:hover {
  animation: waver infinite 0.75s linear;
}

@keyframes waver {
  0% {
    transform: rotate(0turn);
  }
  25% {
    transform: rotate(-0.1turn);
  }
  50% {
    transform: rotate(0turn);
  }
  75% {
    transform: rotate(0.1turn);
  }
  100% {
    transform: rotate(0turn);
  }
}

header {
  width: 400px;
  height: 52px;
  margin-top: 20px;
  margin-left: calc(50% - 200px);
  background-color: rgb(14, 14, 14);
  border: rgb(28, 28, 28) 2px solid;
  border-radius: 15px;
  align-items: center;
  box-sizing: border-box;
}

#header_button_container {
  display: flex;
  width: 400px;
  height: 48px;
  gap: 6px;
  align-items: center;
}

#header_button_container button {
  background-color: rgb(30, 30, 30);
  color: rgb(255, 255, 255);
  border-radius: 15px;
  border-color: rgb(60, 60, 60);
  font-family: "JetBrains Mono", serif;
  font-weight: 800;
  font-size: 1rem;
  width: 30%;
  height: 40px;
}

#header_button_container button:hover {
  cursor: pointer;
}

#about_me {
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  z-index: 2;
  align-items: center;
  align-content: center;
  display: block;
}

#curr_projects {
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  z-index: 2;
  display: none;
}

#past_projects {
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  z-index: 2;
  display: none;
}

#contact_me {
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  display: none;
}

.content_container {
  width: 40vw;
  min-height: 200px;
  height: auto;
  margin-left: 30%;
  text-align: center;
  border: rgb(45, 45, 45) 2px solid;
  border-radius: 20px;
  background-image: linear-gradient(165deg, rgb(18, 18, 18) 30%, rgb(30, 30, 30));
}

.content_container h2 {
  padding: 10px;
}

.adaptive_flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin: 10px auto 10px auto;
}

.adaptive_flex > div {
  aspect-ratio: 1;
  width: 50px;
}

.adaptive_flex > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bordered_div {
  border: 1px solid rgb(45, 45, 45);
  border-radius: 20px;
  width: 80%;
  margin: 0px auto 0px auto;
  padding: 10px 20px 10px 20px;
  text-align: left;
}